body {
  background-image: url("https://cdn.discordapp.com/attachments/735534326581559387/735666429864443954/1926_USHighways_1070x600.png");
  text-align: center;
}

/* Home page css */

#homepageinfo {
  display: block;
  position: fixed;
  float: left;
  width: 20%;
  margin-left: 10%;
}

img#eastCoastMap {
  display: block;
  margin-left: 35%;
  border: white solid 12px;
 }

 h1#pageTitle {

 }

 p#pageDescrip {
   background-color: white;
   opacity: 85%;
   text-align: center;
   font-size: 25px;
    font-style: normal;
    font-variant: normal;
      font-weight: 400;
      line-height: 27.5px;
    padding: 15px;
 }

 .areaofmap:hover {
   opacity: 0.2;
 }


/* Home page css above*/


div.topnav {
  background-color:white;
  opacity: 85%;
  text-align: right;
  padding: 10px;
  margin-bottom: 0px;
}

a.navlink {
  color: black;
  font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 14px;
  font-style: normal
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

a:hover {
  color: rgb(175, 60, 60);
}

h1.welcometo {
  margin-top: 0px;
  padding-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.75);
}

h1 {
  background-color: white;
  opacity: 85%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.75);
}
p {
  background-color: white;
  opacity: 85%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.75);
}
h1, h2, h3 {
  background-color: white;
  opacity: 85%;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.75);
}

h1 { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
  font-size: 40px; font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 44px; }
  h2 { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 24px; font-style: normal;
    font-variant: normal; font-weight: 700;
    line-height: 26.4px; }
  h3 { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    font-size: 14px; font-style: normal;
    font-variant: normal; font-weight: 700;
    line-height: 15.4px; }
     p { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
      font-size: 14px;
      font-style: normal;
      font-variant: normal;
      font-weight: 400;
      line-height: 20px; }
      blockquote { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
        font-size: 21px;
        font-style: normal;
        font-variant: normal;
        font-weight: 400;
         line-height: 30px; }
         pre { font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
          font-size: 13px;
          font-style: normal;
          font-variant: normal;
          font-weight: 400;
          line-height: 18.5667px; }

.flcolumn {
  /* float: left;
  width: 33.33%;
  padding: 5px; */
  flex: 33.33%;
  padding: 5px;
}
.flrow {
/* content:"";
clear: both;
display: table; */
display: flex;
}
.flpics {
  border: solid white 10px;
}

.jerseypics {
  border: solid white 10px;
}

map {

}

#playlist {
  display: block;
  float: right;
  position: fixed;
  margin-left: 80%;
  background-color: white;
  opacity: 85%;
}
